/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */

@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700');

h2 {
    float: left;
    width: 100%;
    color: #fff;
    margin-bottom: 40px;
    font-size: 14px;
    position: relartive;
    z-index: 3;
    margin-top: 30px
}

    h2 span {
        font-family: 'Libre Baskerville', serif;
        display: block;
        font-size: 45px;
        text-transform: none;
        margin-bottom: 20px;
        margin-top: 30px;
        font-weight: 700
    }

    h2 a {
        color: #fff;
        font-weight: bold;
    }


.head {
    float: left;
    width: 100%;
}

.search-box {
    height: 100%;
    width: 100%;
    margin: 0 auto 40px;
    /*box-shadow: 10px 13px 0 rgba(0,0,0,0.2);*/
}

.listing-block {
    background: #fff;
    height: 500px;
    padding-top: 20px;
    overflow-y: scroll;
}

.slimScrollDiv {
    width: 41% !important;
}

.media {
    display: flex;
    box-shadow: 0 10px 40px 0 rgba(0,0,0,0.10),
                0 10px 40px 0 rgba(0,0,0,0.05);
    border-radius: 10px;
    background: #fff;
    height: 100px;
    justify-content: center;
    align-content: center;
    align-content: center;
    padding: 10px;
    position: relative;
    margin-bottom: 20px;
}

.media img {
    width: 200px;
    margin: 0;
    height: 200px;
}

#launch-image {
    border-radius: 10px;
    width: 80px;
    height: 80px;
}

.media-body {
    display: flex;
    flex-direction: column;
    border-left: 0;
    height: 136px;
}

.media .price {
    float: left;
    width: 100%;
    font-size: 30px;
    font-weight: 600;
    color: #4765AB;
}

.media .price small {
    display: block;
    font-size: 17px;
    color: #232323;
}

.media .stats {
    float: left;
    width: 100%;
    margin-top: 10px;
}

.media .stats span {
    float: left;
    margin-right: 10px;
    font-size: 15px;
}


.media .stats span i {
    color: #4765AB;
    margin-right: 7px;
}

.media .address {
    float: left;
    width: 100%;
    font-size: 14px;
    margin-top: 5px;
    color: #888;
}

.media .fav-box {

    position: absolute;
    right: 10px;
    font-size: 20px;
    top: 4px;
    color: #E74C3C;
}

.map-box {
    height: 100%;
    width: 100%;
    padding-left: "-15px" !important;
    padding-right: "-15px" !important;

    /* background-color: #A3CCFF; */
}

html, body {
    height: 100%;
}
.container-fluid {
    height: 100%;
    overflow-y: hidden; /* don't show content that exceeds my height */
}

.body-film {
    height: 100%;
    overflow-y: auto;
    background-color: fadeout(@studio-bar-color, @studio-body-film-trans-delta);
}

.block-film {
    min-height: 100%;
    overflow-y: hidden; /* don't show content that exceeds my height */
    background-color: fadeout(@studio-bar-color, @studio-block-film-trans-delta);   
}

#container-row {
    height: 100%;
}

#launches {
    height: 100%;
}

.container-fluid {
    height: 937px;
    overflow-y: hidden; /* don't show content that exceeds my height */
}

.fa-chevron-circle-up {
    border-radius: 50%;
    height: 1em;
    width: 1em;
}

#status {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    margin-top: 6px;
    margin-right: 6px;
}

.follow {
    margin-top: 47px;
    cursor: pointer;
}
}

#address {
    width: 16px;
    height: 16px;
}